/* GENERAL */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* FIN GENERAL */
body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    margin: 0 auto;
}

/* HEADER */
header {
    grid-area: header;
    background-image: url("/img/Fachada_Facultad_Contabilidad_UNMSM.jpg");
    background-position: 50% 0 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 480px;
    margin: 0;
}

header section {
    padding: 10rem 0;
    text-align: center;
    align-items: center;
}

header section h1 {
    margin: 0;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    background-color: rgba(163, 178, 199, 80%);
    /* display: inline-flex; */
}

header div a img {
    height: 40px;
    margin: 10px 0px 0px 10px;
}

.menu {
    margin: 0px;
}

nav {
    float: right;
    text-align: center;
}

nav ul {
    align-items: center;
    padding: 0px;
}

nav ul li {
    margin: 0px 5px 20px 5px;
    float: left;

}

nav ul li a {
    margin: 5px;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;

}

nav ul li a:hover {
    background-color: rgb(213, 201, 199);
    color: white;
    transition-duration: 0.3s;
}

/* MAIN */
main {
    grid-area: main;
}
    /* BOX */
article.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    padding: 1rem 1rem;
    position: relative;
}

.item {
    max-width: 370px
}

section.item h3 {
    box-shadow: 5px 10px #a3b2c7cc;
    border: 2px solid rgba(163, 178, 199, 80%);
    text-transform: uppercase;
    font-size: 2rem;
    transition: 0.3s all;
    /* position:absolute; */
    transition: 0.3s all;
    /* transform: translate(50%); */
    z-index: 2;
}

/* #visita{
    transform: translate(100%);
} */
section.item img {
    filter: grayscale(1);
    top: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50px;
}

/* section.item:hover > h3{
    opacity: 0;
} */
section.item img:hover {
    filter: grayscale(0);
}
    /* CONTENT */
.content {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(163, 178, 199, 30%);
    display: flex;
    flex-direction: row;
    gap: 0 5rem;
    flex-wrap: wrap;
    padding: 1rem 0 3rem 0;
    position: relative;
}
.content > h2{
    font-size: 2rem;
    background-color: rgba(163, 178, 199, 100%);
    width: 100%;
    padding: 20px 0 20px 0;
    display: inline;
}
.info{
    color: black;
    padding: 10px;
    border: 1px solid black ;
    border-radius: 50px;
}
.info img{
    width: 202px;
    height: 100px;
}
.info:hover{
    box-shadow: 5px 10px;
    background-color: white;
}

    /*PICTURE */
.pictures{
    text-align: center;
}
.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.sliders ul h3{
    z-index: 2;
    position: absolute;
}
.slider ul li img{
    width: 100%;
    height: 750px;
    border: 2px solid black;
}
.slider ul{
    padding: 0;
    margin: 0;
    display: flex;
    width: 400%;

    animation: slider 18s infinite;
    animation-timing-function: linear;
}
.slider li{
    width: 100%;
}

/* ANIMACIONES */
@keyframes slider{
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

/* @MEDIA QUERY */
@media screen and (max-width:965px) {
    nav ul li a {
        font-size: 1.0rem;
    }

    header div a img {
        height: 35px;
    }
}

@media screen and (max-width:835px) {
    nav ul li a {
        font-size: 0.95rem;
    }

    header div a img {
        height: 30px;
    }

    header section h1 {
        display: inline;
        padding: 1px;
    }
}

@media screen and (max-width:798px) {
    nav ul li a {
        font-size: 0.9rem;
    }

    header div a img {
        height: 30px;
    }
}

@media screen and (max-width:765px) {
    nav ul li a {
        font-size: 0.85rem;
    }

    header div a img {
        height: 25px;
    }
}

@media screen and (max-width:725px) {
    nav ul li a {
        font-size: 0.80rem;
    }

    header div a img {
        height: 25px;
    }
}

@media screen and (max-width:700px) {
    nav ul li a {
        font-size: 0.75rem;
    }

    header div a img {
        height: 25px;
    }
}

@media screen and (max-width:670px) {
    nav ul li a {
        font-size: 0.70rem;
    }

    header div a img {
        height: 25px;
    }
}

@media screen and (max-width:640px) {
    nav ul li a {
        font-size: 0.65rem;
    }

    header div a img {
        height: 25px;
    }
}

@media screen and (max-width:610px) {
    nav ul li a {
        font-size: 0.63rem;
    }

    header div a img {
        height: 20px;
    }
}